.header {
  &.open {
    .overlay {
      z-index: 1;
      display: block;
    }
    .header__toggle {
      > span:first-child {
        transform: translateY(5px) rotate(45deg);
      }
      > span:nth-child(2) {
        opacity: 0;
      }
      > span:last-child {
        transform: translateY(-5.5px) rotate(-45deg);
      }
    }
  }
  @include breakpoint-up(large) {
    z-index: 1;
    background-color: white;
    position: absolute;
    width: 100%;
  }

  nav {
    padding-top: 1.14375rem; // 18.3px
    padding-bottom: 1.14375rem; //18.3px
  }
  &__logo {
    img {
      width: 8.8125rem;
      height: 1.375rem;
    }
  }

  &__toggle {
    > span {
      display: block;
      width: 25px;
      height: 2px;
      background-color: $darkBlue;
      transition: all 0.3s ease-in-out;
      &:not(:last-child) {
        margin-bottom: 3.3px;
      }
    }
  }

  &__menu {
    padding: 1.625rem;
    width: 90%;
    margin: 5%;
    background: $white;
    border-radius: 0.3125rem;

    a {
      display: block;
      font-weight: 400;
      &:not(:last-child) {
        padding-bottom: 0.9375rem;
      }
      color: $darkBlue;
      text-align: center;
    }
  }
  &__links {
    a {
      position: relative;
      font-size: 0.875rem;
      font-weight: 400;
      transition: color 300ms ease-in-out;
      &:not(:last-child) {
        margin-right: 30px;
      }
      &::before {
        content: "";
        width: 100%;
        height: 4px;
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -30px;
        opacity: 0;
        transition: opacity 300ms ease-in-out;
      }
      &:hover {
        color: $darkBlue;
        &::before {
          background: linear-gradient(to right, $limeGreen, $brightCyan);
          opacity: 1;
        }
      }
    }
  }
}
.overlay {
  position: absolute;
  top: 3.9375rem;
  visibility: hidden;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient($darkBlue, transparent);
}
